.nav {
  width: 60%;
  margin: 1rem 0rem;
  color: white;
  height: clamp(1rem, 2rem, 3rem);
  text-decoration: none;
}
.dropdown-img {
  width: 5rem;
  height: 5rem;
}
.nav:hover {
  color: rgba(255, 255, 255, 0.461);
  cursor: pointer;
}
.hero-img {
  background-image: url("../../assets/heropic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.nav-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-logo {
  width: 20%;
  margin: 1rem;
  font-weight: 500;
}
.join-button {
  width: 20%;
  height: auto;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
}
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
  font-size: 1rem;
  border-radius: 30px;
  background-color: rgba(253, 253, 253, 0.15);
  backdrop-filter: blur(5px);
}
.dropdown {
  display: flex;
  justify-content: start;
  width: 10%;
  display: none;
}
.dropdown.open {
  visibility: visible;
}
.dropdown.close {
  visibility: hidden;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
}
.hero-quote {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20rem;
  text-align: left;
  line-height: 2rem;
  width: 40%;
  color: white;
  font-size: 1.1rem;
  height: auto;
  padding: 10px;
}
.hero-button {
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
}
.hero-button button {
  border-radius: 20px;
  padding: 0 1rem;
  border: none;
}

@media (max-width: 700px) {
  .nav {
    font-size: 1rem;
  }
  .hero-img {
    min-height: 80vh;
    background-size: 80rem;
    background-position-x: -10rem;
  }
  .hero-quote {
    top: 8rem;
    width: 80%;
  }
  .hero-button {
    width: 2rem;
  }
  .nav-box {
    justify-content: start;
  }
  .dropdown {
    display: block;
  }
  .nav-buttons {
    display: none;
  }
}
