.program-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
  padding: 3rem;
}
.program-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: 1rem;
}
.program-title p {
  color: white;
}
.program-title h2 {
  color: darkgrey;
}
.program-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 50px 2rem;
}
.program-cards h3 {
  font-weight: 600;
  margin: 0;
}
.program-cards p {
  margin: 0rem 2rem;
  color: var(--dark-p);
}
.program-cards a {
  margin-top: auto;
  padding: 2rem;
}
.program-cards img {
  transition: transform 0.4s ease-out;
  will-change: transform;
}
.program-cards img:hover {
  transform: scale(1.03);
}
.program-link {
  display: flex;
  gap: 0.5rem;
}
.program-link span {
  transition: transform 0.2s ease-out;
}
.program-link:hover span {
  transform: translateX(3px);
}
.program-link:hover {
  color: rgba(255, 255, 255, 0.718);
  cursor: pointer;
}
.image-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.background-gradient {
  background: linear-gradient(rgba(120, 119, 119, 0.968), black);
}
.program-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.218);
  gap: 2rem;
  flex: 1;
}
@media (max-width: 700px) {
  .program-cards {
    flex-direction: column;
  }
  .program-title {
    width: 100%;
  }
  .program-cards {
    align-items: center;
  }
  .program-card-box {
    width: 100%;
    gap: 0;
  }
  .program-card-box img {
    padding-bottom: 1rem;
  }
}
