.footer-container {
  display: flex;
  background-color: white;
  padding: 4rem 4%;
}
.footer-logo {
  width: 3rem;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.footer-numbers {
  border-bottom: 1px solid black;
}
.footer-social {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}
.footer-links {
  gap: 1.5rem;
  padding: 2rem 5rem;
  color: black;
  box-sizing: border-box;
  list-style: none;
}
.footer-links ul {
  all: unset;
}
.footer-links li {
  padding: 1rem 2rem;
}
.footer-links li:hover {
  text-decoration: underline;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  gap: 0.4rem;
  align-items: center;
  padding: 0.5rem;
}
.mylink {
  display: flex;
  align-items: center;
  text-decoration: underline;
}
