.quote-icon {
  align-self: flex-end;
}
.star-icon {
  display: flex;
  flex-wrap: wrap;
}
.testimonial-container {
  padding: 5rem;
  box-sizing: border-box;
  background: linear-gradient(black, rgba(120, 119, 119, 0.968));
}
.testimonial-title {
  padding: 2rem 0;
}
.testimonial-title p {
  color: var(--dark-p);
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  gap: 2rem;
  padding: 4rem;
  width: 45%;
}
.testimonial-card p {
  color: var(--dark-p);
}
.testimonial-card h5 {
  font-size: 1.5rem;
}
.testimonial-card span {
  font-size: 0.8rem;
}
.testimonial-arrow {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .testimonial-card {
    width: 100%;
    padding: 2rem;
  }
  .testimonial-container {
    padding: 1.5rem 1rem;
  }
}
